    <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://www.springframework.org/schema/context
    	 	 http://www.springframework.org/schema/context/spring-context-4.0.xsd
    	 	 http://www.springframework.org/schema/tx  
        	 http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        	 http://www.springframework.org/schema/util  
        	 http://www.springframework.org/schema/util/spring-util-4.0.xsd
        	 http://www.springframework.org/schema/task   
             http://www.springframework.org/schema/task/spring-task-4.0.xsd
             http://www.springframework.org/schema/mvc   
             http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
             ">

	<context:component-scan base-package="com.alibaba.csp.sentinel.transport.springmvc" />

	<mvc:interceptors>
		<!-- 使用 bean 定义一个 Interceptor，直接定义在 mvc:interceptors 下面的 Interceptor 将拦截所有的请求 -->
		<bean class="com.alibaba.csp.sentinel.transport.springmvc.interceptor.SentinelHandlerInterceptor" />
	</mvc:interceptors>
</beans>