<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="60000" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-5level %logger - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>sentinel-record.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE2" class="ch.qos.logback.core.FileAppender">
        <file>sentinel-command-center.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="recordLogLogger" level="trace">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="commandCenterLogLogger" level="trace">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE2" />
    </logger>

    <!--<root level="info">-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="FILE" />-->
    <!--</root>-->

</configuration>


