<div class="row" style="margin-left: 1px; margin-top:10px; height: 50px;">
  <div class="col-md-6" style="margin-bottom: 10px;">
    <span style="font-size: 30px;font-weight: bold;">{{app}}</span>
  </div>
  <div class="col-md-6">
    <button class="btn btn-default-inverse" style="float: right; margin-right: 10px;" ng-click="addNewRule()">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;Add flow control rules
    </button>
    <a class="btn btn-default-inverse" style="float: right; margin-right: 10px;" ui-sref="dashboard.flowV1({app: app})">
      Back to the stand-alone page
    </a>
  </div>
</div>

<div class="separator"></div>

<div class="container-fluid">
  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-12">
      <div class="card">
        <div class="inputs-header">
          <span class="brand" style="font-size: 13px;">Flow control rules</span>
          <input class="form-control witdh-200" placeholder="Keyword" ng-model="searchKey">
        </div>

        <!--.tools-header -->
        <div class="card-body" style="padding: 0px 0px;">
          <table class="table" style="border-left: none; border-right:none;margin-top: 10px;">
            <thead>
              <tr style="background: #F3F5F7;">
                <td style="width: 40%">
                  Resource name
                </td>
                <td style="width: 10%;">
                  Source application
                </td>
                <td style="width: 8%;">
                  Flow control mode
                </td>
                <td style="width: 8%;">
                  Threshold type
                </td>
                <td style="width: 8%;">
                  Threshold
                </td>
                <td style="width: 8%;">
                  Threshold mode
                </td>
                <td style="width: 8%;">
                  Flow control effect
                </td>
                <td style="width: 12%;">
                  operating
                </td>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="rule in rules | filter: searchKey | itemsPerPage: rulesPageConfig.pageSize " current-page="rulesPageConfig.currentPageIndex"
                pagination-id="entriesPagination">
                <td style="word-wrap:break-word;word-break:break-all;">{{rule.resource}}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{rule.limitApp }}</td>
                <td>
                  <span ng-if="rule.strategy == 0">direct</span>
                  <span ng-if="rule.strategy == 1">Associate</span>
                  <span ng-if="rule.strategy == 2">link</span>
                </td>
                <td>
                  {{rule.grade == 0 ? 'Threads' : 'QPS'}}
                </td>
                <td style="word-wrap:break-word;word-break:break-all;">
                  {{rule.count}}
                </td>
                <td>
                  <span>{{generateThresholdTypeShow(rule)}}</span>
                </td>
                <td>
                  <span ng-if="rule.controlBehavior == 0">Fail fast</span>
                  <span ng-if="rule.controlBehavior == 1">Warm Up</span>
                  <span ng-if="rule.controlBehavior == 2">Waiting in line</span>
                  <span ng-if="rule.controlBehavior == 3">Warm up the queue</span>
                </td>
                <td>
                  <button class="btn btn-xs btn-default" type="button" ng-click="editRule(rule)" style="font-size: 12px; height:25px;">edit</button>
                  <button class="btn btn-xs btn-default" type="button" ng-click="deleteRule(rule)" style="font-size: 12px; height:25px;">delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- .card-body -->
        <div class="pagination-footer">
          <dir-pagination-controls boundary-links="true" template-url="app/views/pagination.tpl.html" pagination-id="entriesPagination"
            on-page-change="">
          </dir-pagination-controls>
          <div class="tools" style="">
            <span>Total {{rulesPageConfig.totalCount}} Records, </span>
            <span>
              Per page
              <input class="form-control" ng-model="rulesPageConfig.pageSize"> Records
            </span>
            <!--<span>First {{rulesPageConfig.currentPageIndex}} / {{rulesPageConfig.totalPage}} page</span>-->
          </div>
          <!-- .tools -->
        </div>
        <!-- pagination-footer -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col-md-12 -->
  </div>
  <!-- -->
</div>
<!-- .container-fluid -->
