<div class="container">
    <div class="row" style="margin: 200px auto 15px auto; text-align: center;">
        <img src="../../assets/img/sentinel-logo.png" alt="Sentinel Logo"
             style="max-height: 25%; max-width: 25%;">
        <!-- <h1 id='login_title'>Sentinel 控制台</h1> -->
    </div>
    <div class="row">
        <div class="col-md-4" >
        </div>
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">用户</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="username" autofocus="autofocus" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">密码</label>
                    <div class="col-md-9">
                        <input class="form-control" type="password" ng-model="password" />
                    </div>
                </div>
                <div class="row text-center" style="margin-top: 20px;">
                    <button class="btn btn-outline-success" style="height: 30px;font-size: 12px;"
                            ng-click="login()">登录</button>
                    <button class="btn btn-outline-primary" style="height: 30px;font-size: 12px;margin-left: 10px;"
                            type="reset">清空</button>
                </div>
            </form>
        </div>
    </div>
</div>