<div>
    <div class="service-head">
        {{ service }}
    </div>
    <div class="main">
        <div class="operator">
            <nz-select style="width: 200px;" [(ngModel)]="selectedIns" (ngModelChange)="instanceChange($event)">
              <nz-option *ngFor="let option of instanceList" [nzValue]="option" [nzLabel]="option.ip + ':' + option.port">
              </nz-option>
            </nz-select>
        </div>
        <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let item of listData">
                <div id="{{item}}" style="width: 50%; height: 340px;"></div>
                <nz-table style="width: 50%" [nzData]="tableDataMap[item]" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>通过QPS</th>
                            <th>拒绝QPS</th>
                            <th>响应时间(ms)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rowData of tableDataMap[item]">
                            <td>{{ timeFormatter(rowData.timestamp) }}</td>
                            <td>{{ rowData.passQps }}</td>
                            <td>{{ rowData.blockQps }}</td>
                            <td>{{ rowData.rt }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-list-item>
        </nz-list>
    </div>
</div>


