<div>
    <span class="brand" style="font-weight:bold;">连接详情</span>
    <div class="card" style="margin-top: 20px;margin-bottom: 10px;">
        <div class="panel-body">
            <div class="row">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Token Server</label>
                        <div class="col-sm-4">
                            <p class="form-control-static">{{connectionDetailDialogData.serverData.id}}</p>
                        </div>
                    </div>
                </form>

                <div class="col-md-12">
                    <!-- table start -->
                    <table class="table" style="border-left: none; border-right:none;margin-top: 10px;">
                        <thead>
                        <tr style="background: #F3F5F7;">
                            <td style="min-width: 15%;" class="text-center">命名空间</td>
                            <td class="text-center">连接数</td>
                            <td class="text-center">连接详情</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cg in connectionDetailDialogData.serverData.state.connection">
                            <td style="word-wrap:break-word;word-break:break-all;" class="text-center">{{cg.namespace}}</td>
                            <td style="word-wrap:break-word;word-break:break-all;" class="text-center">{{cg.connectedCount}}</td>
                            <td class="text-center">{{generateConnectionSet(cg.connectionSet)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
