<div>
    <span class="brand" style="font-weight:bold;">{{authorityRuleDialog.title}}</span>
    <div class="card" style="margin-top: 20px;margin-bottom: 10px;">
        <div class="panel-body">
            <div class="row">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Resource Name</label>
                        <div class="col-sm-9">
                            <input type="text" ng-if="authorityRuleDialog.type == 'edit'" class="form-control" placeholder="resource name" ng-model='currentRule.rule.resource'
                                   disabled="" />
                            <input type="text" ng-if="authorityRuleDialog.type == 'add'" class="form-control highlight-border" placeholder="resource name" ng-model='currentRule.rule.resource'
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Limit Origin</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control highlight-border" ng-model='currentRule.rule.limitApp' placeholder='Origin name. Multiple origin name can be separated with comma (,)'
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-4">
                            <div class="form-control highlight-border" align="center">
                                <input type="radio" name="strategy" value="0" checked ng-model='currentRule.rule.strategy' />&nbsp;Whitelist&nbsp;&nbsp;
                                <input type="radio" name="strategy" value="1" ng-model='currentRule.rule.strategy' />&nbsp;Blacklist
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="separator"></div>
            <div clss="row" style="margin-top: 20px;">
                <button class="btn btn-outline-danger" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="closeThisDialog()">Cancel</button>
                <button class="btn btn-outline-success" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="saveRule()">{{authorityRuleDialog.confirmBtnText}}</button>
                <button ng-if="authorityRuleDialog.saveAndContinueBtnText" class="btn btn-default" style="float:right; height: 30px;font-size: 12px;"
                        ng-click="saveRuleAndContinue()">{{authorityRuleDialog.saveAndContinueBtnText}}</button>
            </div>
        </div>
    </div>
</div>
