<div>
  <span class="brand" style="font-weight:bold;">{{confirmDialog.title}}</span>
  <div class="card" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="panel-body">
      <div class="row">
        <p style="margin-left: 20px; margin-right: 20px;">
          {{confirmDialog.attentionTitle}}:
          <br/>
          <br/>
          <code style="word-wrap: break-word; white-space:normal">{{confirmDialog.attention}}</code>
        </p>
      </div>
      <div class="separator"></div>
      <div clss="row" style="margin-top: 20px;">
        <button class="btn btn-default-inverse" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="closeThisDialog()">取消</button>
        <button class="btn btn-outline-danger" style="float:right; height: 30px;font-size: 12px;" ng-click="confirm()">{{confirmDialog.confirmBtnText}}</button>
      </div>
    </div>
  </div>
</div>
